.category {
  display: flex;
  margin-bottom: 20px;
}
.category__column {
  margin-right: 20px;
  border: 1px solid var(--violet);
  color: var(--violet);
  padding: 5px 10px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.category__column span {
  margin-right: 5px;
}
.shop {
  border: 1px solid var(--violet);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}
.shop__column {
  display: flex;
  align-items: center;
}
.shop__ranking {
  color: var(--red);
  font-size: 25px;
  margin-right: 20px;
}
.shop__ranking-brown {
  color: var(--brown);
}
.shop__image {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin-right: 10px;
}
.shop__detail {
  display: flex;
  flex-direction: column;
  color: var(--brown);
  text-transform: capitalize;
}
.shop__name {
  font-size: 20px;
  margin-bottom: 10px;
}
.shop__hashtag {
  font-size: 15px;
}
.shop__column:last-child {
  flex-direction: column;
  color: var(--red);
}
.shop__column i {
  margin-bottom: 10px;
}
.category__column:hover {
  transform: scale(1.05);
}
.shop:hover {
  transform: scale(1.03);
}
